
**/__pycache__/
**/*.pyc
*.pyo
*.pyd

venv/
.env/

.vscode/

deploystack/deploystack

OpenStack-Deployer.wiki/
DeployStack.egg-info/

deploystack_banner.png

*.code-workspace

*.log

*.conf

.DS_Store
Thumbs.db