[Unit]
Description=Cinder LVM device
Before=cinder-volume.service tgt.service
DefaultDependencies=no
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/default/cinder-lvm
ExecStart=/usr/local/bin/cinder-loopback-start.sh
ExecStop=/usr/local/bin/cinder-loopback-stop.sh

[Install]
WantedBy=multi-user.target